body {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*Top navigation*/
.top-navigation{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	height: 80px;
	margin: 0 auto;
}

.top-navigation__btn-menu {
	display: block;
	background-image: url(../image/Object_hamburger.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 25px;
	height: 18px;
	margin-right: 65px;
	margin-left: 160px
}

.top-navigation__label {
	margin-right: auto;
}

.top-navigation__btn-tel {
	display: block;
	width: 212px;
	margin-right: 55px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 10px;
	text-align: center;
	line-height: 1.2;
	text-decoration: none;
	background-color: #FFD200;
	color: #000000;
}

.top-navigation__btn-tel::after {
	display: block;
	width: 70%;
	height: 2px;
	margin-left: 15%;
	content: "";
	border-bottom: 1.5px dotted black;
}

.top-navigation__btn-login {
	display: block;
	width: 33px;
	height: 29px;
	margin-right: 160px;
	background-image: url(../image/Object_login.png);
	background-repeat: no-repeat;
}
/*Creator section*/
.main-creator {
	max-width: 1520px;
	height: 547px;
	margin: 0 auto;
	border-top: 1px solid white;
	background-image: url(../image/main-banner.jpg);
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
}

.main-creator__title {
	margin-bottom: 0;
	text-align: center;
	line-height: 1.2;
	font-variant: small-caps;
	font-size: 60px;
}

.main-creator__subtitle {
	margin-top: 8px;
	text-align: center;
	line-height: 1.2;
	font-size: 24px;
}

.main-btn-make-photobook_transparent {
	display: block;
	width: 381px;
	margin: 0 auto;
	margin-top: 65px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid rgb(1, 1, 1);
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
	font-size: 26px;
	background-color: rgba(255, 210, 0, 0);
	color: rgb(33, 33, 33);
}

/*Steps section*/
.main-steps{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 55px;
}

.main-steps__item {
	width: 130px;
}

.main-steps__item:nth-child(2) {
	margin-left: 130px;
	margin-right: 130px;
}

.main-steps__item:nth-child(3) {
	margin-right: 130px;
}

.main-steps__img {
	position: relative;
	width: 130px;
	height: 130px;
	border: 5px solid rgb(255, 210, 0);
	border-radius: 50%;
	background-color: rgba(255, 210, 0, 0);
	background-position: center;
	background-repeat: no-repeat;
}

.main-steps__img:not(.get)::after {
	position: absolute;
	top: 45%;
	left: 130px;
	width: 130px;
	height: 5px;
	content: "";
	background-image: url(../image/steps_img/steps-line.png);
}

.main-steps__img.download {
	background-image: url(../image/steps_img/step-1.png);
}
.main-steps__img.desing {
	background-image: url(../image/steps_img/step-2.png);
}
.main-steps__img.pay {
	background-image: url(../image/steps_img/step-3.png);
}
.main-steps__img.get {
	background-image: url(../image/steps_img/step-4.png);
}

.main-steps__text {
	display: inline-block;
	line-height: 1.2;
	text-align: center;
	font-size: 22px;
}

/*Advantage section*/
.main-advantage {
	max-width: 1520px;
	height: 816px;
	margin: 0 auto;
	margin-top: 80px;
	border: 1px solid rgb(243, 240, 231);
	background-color: rgb(243, 240, 231);
}

.main-advantage__title {
	font-size: 60px;
	line-height: 1.2;
	text-align: center;
}

.main-advantage-steps {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.main-advantage-steps-item{
	min-width: 320px;
	max-width: 320px;
}

.main-advantage-steps-item:nth-child(2){
	margin-left: 60px;
	margin-right: 60px;
}

.main-advantage-steps-item__img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.main-advantage-steps-item__subject {
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
}

.main-advantage-steps-item__text {
	text-align: center;
}

.main-btn-make-photobook_red {
	display: block;
	width: 381px;
	margin: 0 auto;
	margin-top: 65px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
	font-size: 26px;
	background-color: rgb(226, 26, 39);
	color: rgb(255, 255, 255);
}

/*Solutions section*/
.main-solutions-title {
	text-align: center;
	line-height: 1.2;
	font-size: 60px;
	line-height: 1.2;
}

.main-solutions-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	margin: 0 auto;
}

.main-solutions-cards__unit {
	min-width: 315px;
	max-width: 315px;
	max-height: 420px;
	min-height: 420px;
	border: 5px solid rgb(255, 210, 0);
	border-radius: 10px;
}

.main-solutions-cards__unit.light {
	margin-left: 220px;
}

.main-solutions-cards__unit.classic {
	position: relative;
	margin-left: 70px;
	margin-right: 70px;
}

.main-solutions-cards__unit.premium {
	margin-right: 220px;
}

.main-solutions-cards__subject {
	margin-top: 0;
	padding-top: 33.5px;
	padding-bottom: 33.5px;
	text-align: center;
	line-height: 1.2;
	font-size: 36px;
	color: rgb (0, 0, 0);
	background-color: rgb(255, 210, 0);
}

.main-solutions-cards__list {
	height: 135px;
	list-style: none;
}

.main-solutions-cards__item {
	margin-bottom: 10px;
	margin-left: 10px;
	position: relative;
}

.main-solutions-cards__item::before {
	content: '';
	position: absolute;
	background-image: url(../image/check.png);
	width: 20px;
	height: 20px;
	left: -30px;
}

.main-solutions-cards__price {
	display: block;
	text-align: center;
	line-height: 1.2;
	font-size: 45px;
	font-weight: normal;
}

.main-solutions-cards__btn-make {
	display: block;
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
	font-size: 22px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 210, 0);
}

.besseller:before {
	content: "";
	position: absolute;
	text-align: center;
	left: 22.5%;
	top: -30px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 25px solid rgb(255, 210, 0);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 100px;
}

.besseller:after {
	content: "BESTSELLER";
	position: absolute;
	text-align: center;
	font-weight: bold;
	color: rgb(226, 26, 39);
	left: 107.5px;
	top: -25px;
}

/*Testimonials section*/
.main-testimonials {
	max-width: 1520px;
	height: 767px;
	margin: 0 auto;
	margin-top: 100px;
	border-top: 1px solid white;
	background-image: url(../image/testimonals-banner.jpg);
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
}

.main-testimonial-slide {
	max-width: 1117px;
	margin: 0 auto;
}

.main-testimonial {
	max-width: 550px;
}

.main-testimonial__title {
	height: 100px;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: 60px;
	font-variant: small-caps;
	color: rgb(0, 0, 0);
}

.main-testimonial__person {
	margin-top: -20px;
}

.main-testimonial__avatar {
	float: left;
	width: 158px;
	height: 158px;
	margin-right: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
}

.main-testimonial__author-name {
	margin-bottom: -50px;
	padding-top: 50px;
	text-align: left;
	line-height: 1.2;
	font-size: 30px;
	font-variant: small-caps;
}

.main-testimonial__author-prof {
	margin-top: 0;
	margin-bottom: 80px;
	padding-top: 50px;
	text-align: left;
	line-height: 1.2;
	font-size: 18px;
}

.main-testimonial__desc {
	max-width: 540px;
	text-align: left;
	line-height: 1.2;
	font-size: 13px;
}

.main-testimonial__link-next {
	display: block;
	text-align: right;
	text-decoration: none;
	line-height: 1.2;
	font-size: 13px;
	color: rgb(0, 0, 0);
}

/*Conditions section*/

.main-conditions-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	margin: 0 auto;
  margin-top: 95px;
}

.main-condition__unit {
  min-width: 325px;
	max-width: 325px;
	min-height: 310px;
	max-height: 310px;
}

.main-condition__unit:nth-child(1) {
	margin-left: 220px;
}

.main-condition__unit:nth-child(2) {
	margin-left: 70px;
	margin-right: 70px;
}

.main-condition__unit:nth-child(3)	{
	margin-right: 220px;
}

.main-condition__subject {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
	background-color: rgb(255, 210, 0);
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 0;
}

.main-condition__text,
.main-condition__list {
	background-color: rgb(247, 240, 230);
	border-radius: 0 0 10px 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 30px;
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	max-height: 210px;
	min-height: 210px;
}

.main-condition__important {
	display: inline-block;
	color: rgb(226, 26, 39);
	line-height: 1.4;
	margin-top: 10px;
}

.main-condition__list-item {
	margin-left: 45px;
	margin-top: 10px;
}


footer {
	min-height: 379px;
	max-height: 379px;
	/* width: 1520px; */
	max-width: 1520px;
	background-color: rgb(255, 210, 0);
	border-top: 1px solid rgb(255, 210, 0);
	margin: 0 auto;
	margin-top: 120px;
}

.footer-blocks {
	display: flex;
	justify-content: start;
	align-items: start;
	max-width: 1117px;
	width: 1117px;
	margin: 0 auto;
	margin-top: 50px;
}

.footer-block-company,
.footer-block-condition,
.footer-block-photobook,
.footer-block-social {
	width: 155px;
	height: 255px;
	border-top: 1px solid black;
}

.footer-block-company {
	margin-left: ;
}

.footer-block-condition {
	margin-left: 80px;
	margin-right: 80px;
}

.footer-block-photobook {
	margin-right: auto;
}

.footer-blocks ul {
	margin-top: 0;
}

.footer-blocks li {
	margin-top: 15px;
	margin-left: -40px;
	list-style: none;
	font-size: 14px;
}

.footer-blocks li:first-child {
	margin-top: 30px;
}

.footer-blocks a {
	color: black;
	text-decoration: none;
}

.footer-social-fb,
.footer-social-vk,
.footer-social-in {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 24px;
	height: 24px;
}

.footer-social-fb {
	background-image: url(../image/social_img/fb.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.footer-social-vk {
	background-image: url(../image/social_img/vk.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social-in {
	background-image: url(../image/social_img/instagram.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social-logo {
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-copyright {
	width: 254px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.2
}
