body {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav{
	margin: 0 auto;
	max-width: 1520px;
	height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
	display: block;
	background-image: url(../image/Object_hamburger.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 25px;
	height: 18px;
  margin-right: 65px;
  margin-left: 160px
}

.nav-label {
  margin-right: auto;

}

.nav-btn-tel {
  display: block;
	background-color: #FFD200;
	border-radius: 10px;
	color: #000000;
	width: 212px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 1.2;
	text-decoration: none;
  margin-right: 55px;
}

.nav-btn-tel:after {
	content: "";
  display: block;
	border-bottom: 1.5px dotted black;
	width: 70%;
	height: 2px;
  margin-left: 15%;
}

.nav-login {
	display: block;
	background-image: url(../image/Object_login.png);
	background-repeat: no-repeat;

	width: 33px;
	height: 29px;
  margin-right: 160px;
}

.main-maker {
	background-image: url(../image/main-banner.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	max-width: 1520px;
	margin: 0 auto;
	height: 547px;
	border-top: 1px solid white;
}

.main-maker h1{
  font-size: 60px;
  margin-bottom: 0;
  font-variant: small-caps;
  line-height: 1.2;
  text-align: center;
}

.main-maker h3 {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 8px;
}

.main-maker-btn {
  display: block;
  text-align: center;
  font-size: 26px;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  line-height: 1.2;
  border: 1px solid rgb(1, 1, 1);
  border-radius: 10px;
  background-color: rgba(255, 210, 0, 0);
  margin: 0 auto;
  margin-top: 65px;
  width: 381px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-decoration: none;
}

.main-steps{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 55px;
}

.main-steps .step-1,
.main-steps .step-2,
.main-steps .step-3,
.main-steps .step-4 {
	width: 130px;
}

.main-steps .step-2 {
	margin-left: 130px;
	margin-right: 130px;
}

.main-steps .step-3 {
	margin-right: 130px;
}

.step-1-img {
  background-image: url(../image/steps_img/step-1.png);
}
.step-2-img {
  background-image: url(../image/steps_img/step-2.png);
}
.step-3-img {
  background-image: url(../image/steps_img/step-3.png);
}
.step-4-img {
  background-image: url(../image/steps_img/step-4.png);
}

.step-1-img:after,
.step-2-img:after,
.step-3-img:after {
	content: "";
	background-image: url(../image/steps_img/steps-line.png);
	width: 130px;
	height: 5px;
	position: absolute;
	top: 45%;
	left: 130px;
}

.step-1 .step-1-img,
.step-2 .step-2-img,
.step-3 .step-3-img,
.step-4 .step-4-img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 210, 0);
  border-radius: 50%;
  background-color: rgba(255, 210, 0, 0);
  width: 130px;
  height: 130px;
  position: relative;
}

.step-1 .step-1-label,
.step-2 .step-2-label,
.step-3 .step-3-label,
.step-4 .step-4-label {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.main-advantage {
	background-color: rgb(243, 240, 231);
	height: 816px;
	border: 1px solid rgb(243, 240, 231);
	margin: 0 auto;
	margin-top: 80px;
	max-width: 1520px;
}

.main-advantage h2 {
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}

.advantage-steps {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.advantage-step{
	min-width: 320px;
	max-width: 320px;
}

.advantage-step-edit {
	margin-left: 60px;
	margin-right: 60px;
}

.advantage-step h3 {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.advantage-step p {
	text-align: center;
}

.advantage-step img{
	display: block;
    margin: 0 auto;
	border-radius: 50%;
}

.advantage-btn {
  display: block;
  font-size: 26px;

  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(226, 26, 39);
  width: 377px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  text-decoration: none;
}

.main-solutions h2 {
  font-weight: normal;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}

.solutions-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	margin: 0 auto;
}

.solution-light,
.solution-classic,
.solution-premium {
	border: 5px solid rgb(255, 210, 0);
	border-radius: 10px;
	max-height: 420px;
	min-height: 420px;
	min-width: 315px;
	max-width: 315px;
}

.solution-light {
	margin-left: 220px;
}

.solution-premium  {
	margin-right: 220px;
}

.solution-classic {
	position: relative;
	margin-left: 70px;
	margin-right: 70px;
}

.solutions-cards h3 {
  background-color: rgb(255, 210, 0);
  font-size: 36px;

  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  padding-top: 33.5px;
  padding-bottom: 33.5px;
}

.solutions-cards a {
	display: block;
	background-color: rgb(255, 210, 0);
	font-size: 22px;
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 25px;
	color: black;
	text-decoration: none;
}

.solutions-cards ul {
	height: 135px;
	list-style: none;
}

.solutions-cards  li {
	margin-bottom: 10px;
	margin-left: 10px;
	position: relative;
}

.solutions-cards li:before {
	content: '';
	position: absolute;
	background-image: url(../image/check.png);
	width: 20px;
	height: 20px;
	left: -30px;
}

.solutions-cards b {
  display: block;
  font-size: 45px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.besseller:before {
	content: "";
	position: absolute;
	text-align: center;
	left: 22.5%;
	top: -30px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 25px solid rgb(255, 210, 0);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 100px;
}

.besseller:after {
	content: "BESTSELLER";
	position: absolute;
	text-align: center;
	font-weight: bold;
	color: rgb(226, 26, 39);
	left: 107.5px;
	top: -25px;
}

.main-testimonials {
	background-image: url(../image/testimonals-banner.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	max-width: 1520px;
	margin: 0 auto;
	margin-top: 100px;
	max-height: 767px;
	border-top: 1px solid white;

}

.testimonial-slide {
	max-width: 1117px;
	margin: 0 auto;
}

.testimonial {
   max-width: 550px;
}

.testimonial-head {
  height: 100px;
  font-size: 60px;
  color: rgb(0, 0, 0);
  font-variant: small-caps;
  line-height: 1.2;
  margin-bottom: 0;
}

.testimonial-person {
	margin-top: -20px;
}

.testimonial-person img {
	background-repeat: no-repeat;
	height: 158px;
	width: 158px;
	border-radius: 50%;
	float: left;
	margin-right: 40px;
}

.testimonial-person h3 {
  font-size: 30px;
  font-variant: small-caps;
  line-height: 1.2;
  text-align: left;
  margin-bottom: -50px;
  padding-top: 50px;
}

.testimonial-person p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 50px;
}

.testimonial-content {
  max-width: 540px;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}

.testimonial-next {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.testimonials-btn {
  display: block;
  text-align: center;
  font-size: 26px;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  line-height: 1.2;
  border: 1px solid rgb(1, 1, 1);
  border-radius: 10px;
  background-color: rgba(255, 210, 0, 0);
  width: 381px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 55px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.main-conditions {

}

.conditions-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	margin: 0 auto;
}

.condition-terms,
.condition-payment,
.condition-shipping {
	max-height: 310px;
	min-height: 310px;
	min-width: 325px;
	max-width: 325px;
}

.condition-terms {
	margin-left: 220px;
}

.condition-shipping  {
	margin-right: 220px;
}

.condition-payment {
	margin-left: 70px;
	margin-right: 70px;
}

.conditions-cards h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(255, 210, 0);
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 0;
}

.conditions-cards p, .conditions-cards ul {
  background-color: rgb(247, 240, 230);
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 30px;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  max-height: 210px;
  min-height: 210px;
}

.condition-shipping p b {
	display: inline-block;
	color: rgb(226, 26, 39);
	line-height: 1.4;
	margin-top: 10px;
}

.conditions-cards li {
	margin-left: 45px;
	margin-top: 10px;
}

.conditions-btn {
  display: block;
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(226, 26, 39);
  width: 377px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  text-decoration: none;
}


footer {
	min-height: 379px;
	max-height: 379px;
	/* width: 1520px; */
	max-width: 1520px;
	background-color: rgb(255, 210, 0);
	border-top: 1px solid rgb(255, 210, 0);
	margin: 0 auto;
	margin-top: 120px;
}

.footer-blocks {
	display: flex;
	justify-content: start;
	align-items: start;
	max-width: 1117px;
	width: 1117px;
	margin: 0 auto;
	margin-top: 50px;
}

.footer-block-company,
.footer-block-condition,
.footer-block-photobook,
.footer-block-social {
	width: 155px;
	height: 255px;
	border-top: 1px solid black;
}

.footer-block-company {
	margin-left: ;
}

.footer-block-condition {
	margin-left: 80px;
	margin-right: 80px;
}

.footer-block-photobook {
	margin-right: auto;
}

.footer-blocks ul {
	margin-top: 0;
}

.footer-blocks li {
	margin-top: 15px;
	margin-left: -40px;
	list-style: none;
	font-size: 14px;
}

.footer-blocks li:first-child {
	margin-top: 30px;
}

.footer-blocks a {
	color: black;
	text-decoration: none;
}

.footer-social-fb,
.footer-social-vk,
.footer-social-in {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 24px;
	height: 24px;
}

.footer-social-fb {
	background-image: url(../image/social_img/fb.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.footer-social-vk {
	background-image: url(../image/social_img/vk.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social-in {
	background-image: url(../image/social_img/instagram.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social-logo {
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-copyright {
	width: 254px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.2
}
